@model TeachTask.Models.GraphicProduct

@using (Html.BeginForm("Save", "Product", FormMethod.Post))
{
    <table width="40%">
        <tr>
            <td style="width:20%">Name:</td>
            <td style="width:80%">
                @Html.TextBoxFor(m=>m.Name,new{@class="form-control"})
            </td>
        </tr>
        <tr>
            <td style="width:20%">Email:</td>
            <td style="width:80%">
                @Html.TextBoxFor(m=>m.Email,new{@class="form-control"})
            </td>
        </tr>
    </table>
    <input type="submit" value="Save"/>
}
